<h1>Random User Generator App</h1>

<header>
  <nav>
    <div *ngIf="currentUrl !== 'login'">
    <button
      *ngIf="!isLogined"
      (click)="logIn()"
      routerLink="/login"
    >
      Log In
    </button>

    <button
      *ngIf="isLogined"
      (click)="logIn()"
      routerLink="/"
    >
      Log Out
    </button>
    </div>

    <ul>
      <li>
        <a  routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
        >
          Main page
        </a>
      </li>

      <li *ngIf="isLogined">
        <a *ngIf="isLogined"
           routerLink="/randUser"
           routerLinkActive="active"
        >Random User Page
        </a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

