<h1>Random User Generator App</h1>

<header>
  <nav>
    <div>
    <button
      *ngIf="!authService.isLoggedIn()"
      routerLink="/login"
    >
      Log In
    </button>

      <button
        *ngIf="!authService.isLoggedIn()"
        routerLink="/signIn"
      >
        Sign In
      </button>


    <button
      *ngIf="authService.isLoggedIn()"
      (click)="authService.logOut()"
      routerLink="/"
    >
      Log Out
    </button>
    </div>

    <ul>
      <li>
        <a  routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
        >
          Main page
        </a>
      </li>

      <li *ngIf="authService.isLoggedIn()">
        <a
           routerLink="/randUser"
           routerLinkActive="active"
        >
          Random User Page
        </a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
